{% extends 'blog_app/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquid autem corporis earum error et eveniet exercitationem expedita molestiae numquam officiis pariatur quas quasi, quis ratione rem veniam vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur cumque delectus ipsa iure maiores, nobis non recusandae repudiandae, saepe tempora, totam veniam vero. A aperiam atque beatae commodi consequatur cum dignissimos dolore eos error nihil, nobis non odit provident qui sequi similique voluptates. Autem cumque minus rem tempore voluptatum.</p>
{% endblock content %}